{% extends 'base.html.twig' %}

{% block body %}
<div style="display:flex; flex-wrap:wrap;width: 100vw;justify-content:space-around;">
<section>
<h1> Editer le personnel </h1>
<a href="{{path('staff-new')}}">Creer</a>
{% for staff in staffs %}

<div>
<a href="{{path('admin-edit', {id: staff.id})}}">Mettre a jour</a>
<p>{{staff.name}}</p>


</div>


{%  endfor %}
</section>





{% endblock %}